#page{
    width:auto;
}

.report-tbl th,.report-tbl td{
    text-align: center;
}

td.name{
    text-align: left;
}

.report-tbl tbody tr:first-child td{
    font-weight: bold;
}

.report-tbl{
    border-spacing: 1px;
}

.report-tbl td{
    height: 30px;
}

.date-up{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}